.cache
.classpath
.DS_STORE
*.netrwhist
.history
.idea
.idea_modules
*.log
.project
.settings
*.sublime-project
*.sublime-workspace
*.swp
base16-shell/
base16-shell/*
bash_history
bash_prompt_old
bin/*
/fish/config.secret.*
/fish/fish_history
/fish/fishd*
nvim/autoload/*
nvim/bundle/*
nvim/plugged/*
nvim/shada/*
secrets
snapshots/*
target
target/*
tmp
tmp/*
vim/bundle/*
vim/sessions/*
vim/vim-backup/*
vim/vim-tmp/*
vim/vim-undo/*
vim/vim-view/*
